/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background: #003677;
}

::-webkit-scrollbar-thumb:hover {
  background: #003677;
}
/*Body*/

body {
  font: 16px/24px var(--fontfamily01), sans-serif;
  color: var(--font-color);
}
a{
  color: var(--bs-primary);
  &:hover{
    color: var(--bs-primary-hover);
  }
}

/*Ratio*/
.ratio {
  > * {
    object-fit: cover;
  }
  &.-contain > * {
    object-fit: contain;
  }
}
/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  &.-n2 {
    -webkit-line-clamp: 2;
  }
  &.-n3 {
    -webkit-line-clamp: 3;
  }
  &.-n4 {
    -webkit-line-clamp: 4;
  }
}

/*back to top*/
.back-to-top {
  position: fixed;
  bottom: -80px;
  right: 10px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  z-index: 99;
  transition: 0.5s;
  border-radius: 50%;
  &.active {
    bottom: 30px;
  }
  &:hover {
    box-shadow: 0 0 10px #ccc;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1336px;
  }
}
