.footer {
	position: relative;
	padding: 130px 0 35px;
	background: #001E49;

	a {
		color: rgba(255, 255, 255, .7);

		&:hover {
			color: rgba(255, 255, 255, 1);
		}
	}

	&__logo {
		img {
			max-height: 60px;
		}
	}

	&__title {
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.75;
		color: #FFFFFF;
	}

	&__logo {
		margin-bottom: 12px;

		img {
			width: auto;
			max-height: 30px;
		}
	}

	&__address {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.75;

		a {
			color: rgba(255, 255, 255, .8);

			&:hover {
				color: rgba(255, 255, 255, 1);
			}
		}
	}

	&__list {
		margin-bottom: 20px;

		li {

			:hover,
			&.active a {
				color: rgba(255, 255, 255, 1);
			}
		}

		a {
			position: relative;
			display: block;
			width: 100%;
			transition: .3s;
			padding-bottom: 10px;
			font-weight: 600;
			font-size: 16px;
			line-height: 1.25;
			color: rgba(255, 255, 255, .7);
		}
	}

	&__social {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-bottom: 20px;

		a {
			display: block;
			position: relative;
			transition: .3s;
			color: #FFFFFF;
			font-size: 35px;

			&:hover {
				transform: translateY(-4px);
			}
		}
	}

	@media (max-width: 1199px) {
		padding: 80px 0 35px;

	}

	@media (max-width: 991px) {}

	@media (max-width: 767px) {}

	@media (max-width: 575px) {}
}

.copyright {
	padding: 46px 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.28;
	color: #FFFFFF;
	background: #003677;

	&__text {
		margin-right: 17.5%;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 40px;

		a {
			font-weight: 500;
			font-size: 17px;
			line-height: 1.28;
			color: #FFFFFF;
		}
	}

	@media (max-width: 1199px) {
		padding: 24px 0;
	}

	@media (max-width: 991px) {}

	@media (max-width: 767px) {

		font-size: 14px;
		text-align: center;

		&__text {
			margin-bottom: 10px;
			margin-right: 0;
		}

		&__list {
			justify-content: center;

			a {
				font-size: 14px;
			}
		}
	}

	@media (max-width: 575px) {}
}