:root {
  --fontfamily01: 'Gilroy';
  --primary: #003677;
  --bs-primary: #003677;
  --bs-primary-hover: #124d93; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/fonts/icomoon.eot?qqbxbl");
  src: url("../fonts/icomoon/fonts/icomoon.eot?qqbxbl#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?qqbxbl") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?qqbxbl") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?qqbxbl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-a-chart:before {
  content: "\e915"; }

.icon-box:before {
  content: "\e916"; }

.icon-camera:before {
  content: "\e917"; }

.icon-check:before {
  content: "\e918"; }

.icon-clock:before {
  content: "\e919"; }

.icon-cloud-forecast:before {
  content: "\e91a"; }

.icon-edit-brightness:before {
  content: "\e91b"; }

.icon-facebook:before {
  content: "\e91c"; }

.icon-house-search-engine:before {
  content: "\e91d"; }

.icon-linkedin:before {
  content: "\e91e"; }

.icon-progress:before {
  content: "\e91f"; }

.icon-twitter:before {
  content: "\e920"; }

.icon-webpage:before {
  content: "\e921"; }

.icon-floor-plans:before {
  content: "\e900"; }

.icon-drone .path1:before {
  content: "\e905";
  color: white; }

.icon-drone .path2:before {
  content: "\e906";
  margin-left: -0.9599609375em;
  color: #123573; }

.icon-drone .path3:before {
  content: "\e907";
  margin-left: -0.9599609375em;
  color: white; }

.icon-drone .path4:before {
  content: "\e908";
  margin-left: -0.9599609375em;
  color: #123573; }

.icon-drone .path5:before {
  content: "\e909";
  margin-left: -0.9599609375em;
  color: white; }

.icon-drone .path6:before {
  content: "\e90a";
  margin-left: -0.9599609375em;
  color: #123573; }

.icon-drone .path7:before {
  content: "\e90b";
  margin-left: -0.9599609375em;
  color: white; }

.icon-drone .path8:before {
  content: "\e90c";
  margin-left: -0.9599609375em;
  color: #123573; }

.icon-drone .path9:before {
  content: "\e90d";
  margin-left: -0.9599609375em;
  color: #071d46; }

.icon-drone .path10:before {
  content: "\e90e";
  margin-left: -0.9599609375em;
  color: #071d46; }

.icon-drone .path11:before {
  content: "\e90f";
  margin-left: -0.9599609375em;
  color: #071d46; }

.icon-drone .path12:before {
  content: "\e910";
  margin-left: -0.9599609375em;
  color: #071d46; }

.icon-drone .path13:before {
  content: "\e911";
  margin-left: -0.9599609375em;
  color: #071d46; }

.icon-rotate-camera:before {
  content: "\e912"; }

.icon-virtual-environment:before {
  content: "\e913"; }

.icon-video-player:before {
  content: "\e914"; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Black.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  max-height: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

p {
  margin-top: 0;
  margin-bottom: 0; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #e6e6e6; }

::-webkit-scrollbar-thumb {
  background: #003677; }

::-webkit-scrollbar-thumb:hover {
  background: #003677; }

/*Body*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; }

body {
  font: 16px/24px var(--fontfamily01), sans-serif;
  color: var(--font-color); }

a {
  color: var(--bs-primary); }
  a:hover {
    color: var(--bs-primary-hover); }

/*Ratio*/
.ratio > * {
  object-fit: cover; }
.ratio.-contain > * {
  object-fit: contain; }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }
  .text__truncate.-n2 {
    -webkit-line-clamp: 2; }
  .text__truncate.-n3 {
    -webkit-line-clamp: 3; }
  .text__truncate.-n4 {
    -webkit-line-clamp: 4; }

/*back to top*/
.back-to-top {
  position: fixed;
  bottom: -80px;
  right: 10px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  z-index: 99;
  transition: 0.5s;
  border-radius: 50%; }
  .back-to-top.active {
    bottom: 30px; }
  .back-to-top:hover {
    box-shadow: 0 0 10px #ccc; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; }

  .container-sm {
    max-width: 1094px; } }
@media (min-width: 1400px) {
  .container {
    max-width: 1336px; }

  .container-sm {
    max-width: 1094px; } }
.btn {
  position: relative;
  font-size: 16px;
  line-height: normal;
  transition: .3s; }
  .btn-primary {
    min-width: 150px;
    padding: 12px 32px;
    border: 0;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    background: var(--primary); }
    .btn-primary:hover {
      box-shadow: 0 0 10px #ccc; }
  .btn-outline-primary {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    border-color: #123573;
    color: #123573; }
    .btn-outline-primary:hover {
      background-color: var(--primary);
      border-color: var(--primary); }
  .btn-secondary {
    padding: 12px 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #123573;
    background: #EFF4FD;
    border-radius: 8px; }
    .btn-secondary:hover {
      background-color: var(--primary);
      border-color: var(--primary); }
  .btn-get {
    padding: 12px 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #123573;
    background: #EFF4FD;
    border-radius: 8px; }
    .btn-get:hover {
      background: #003677;
      color: #fff; }
  @media (max-width: 1399px) {
    .btn-primary {
      font-size: 16px;
      padding: 12px 24px; }
    .btn-outline-primary {
      font-size: 16px;
      padding: 12px 24px; } }
  @media (max-width: 767px) {
    .btn-get {
      padding: 12px 16px; } }
  @media (max-width: 575px) {
    .btn-primary, .btn-outline-primary {
      font-size: 14px;
      padding: 8px 24px; } }

/*Header*/
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 22px 0;
  color: #675D57;
  transition: .3s;
  z-index: 10;
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .header__wrap {
    display: flex;
    align-items: center; }
  .header__logo {
    width: 226px; }
    .header__logo a {
      display: block; }
    .header__logo img {
      width: auto;
      max-height: 30px;
      transition: .3s; }
  .header__nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__nav--ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px; }
      .header__nav--ul > li > a {
        position: relative;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: var(--primary); }
        .header__nav--ul > li > a::before {
          content: '';
          position: absolute;
          bottom: -30px;
          left: 0;
          right: 0;
          width: 10%;
          height: 2px;
          margin: 0 auto;
          background: var(--primary);
          opacity: 0;
          transition: .3s; }
        .header__nav--ul > li > a:hover::before, .header__nav--ul > li > a.active::before {
          width: 100%;
          opacity: 1; }
  .header__right--login {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #001E49; }
  .header__order {
    padding: 8px 10px; }
  .header .mburger .icon-bar {
    background-color: #736963; }
  .header.is-sticky {
    position: fixed;
    background: #fff;
    color: #000;
    box-shadow: 0 0 10px #ccc; }
  @media (max-width: 1199px) {
    .header {
      padding: 16px 0; }
      .header__nav--ul > li > a::before {
        bottom: -24px; } }

.footer {
  position: relative;
  padding: 130px 0 35px;
  background: #001E49; }
  .footer a {
    color: rgba(255, 255, 255, 0.7); }
    .footer a:hover {
      color: white; }
  .footer__logo img {
    max-height: 60px; }
  .footer__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    color: #FFFFFF; }
  .footer__logo {
    margin-bottom: 12px; }
    .footer__logo img {
      width: auto;
      max-height: 30px; }
  .footer__address {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: rgba(255, 255, 255, 0.8); }
    .footer__address a {
      color: rgba(255, 255, 255, 0.8); }
      .footer__address a:hover {
        color: white; }
  .footer__list {
    margin-bottom: 20px; }
    .footer__list li :hover, .footer__list li.active a {
      color: white; }
    .footer__list a {
      position: relative;
      display: block;
      width: 100%;
      transition: .3s;
      padding-bottom: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.7); }
  .footer__social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px; }
    .footer__social a {
      display: block;
      position: relative;
      transition: .3s;
      color: #FFFFFF;
      font-size: 35px; }
      .footer__social a:hover {
        transform: translateY(-4px); }
  @media (max-width: 1199px) {
    .footer {
      padding: 80px 0 35px; } }
  @media (max-width: 575px) {
    .footer {
      padding: 40px 0 20px; }
      .footer__list a {
        font-size: 12px; }
      .footer__address {
        font-size: 14px; } }

.copyright {
  padding: 46px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.28;
  color: #FFFFFF;
  background: #003677; }
  .copyright__text {
    margin-right: 17.5%; }
  .copyright__list {
    display: flex;
    align-items: center;
    gap: 40px; }
    .copyright__list a {
      font-weight: 500;
      font-size: 17px;
      line-height: 1.28;
      color: #FFFFFF; }
  @media (max-width: 1199px) {
    .copyright {
      padding: 24px 0; } }
  @media (max-width: 767px) {
    .copyright {
      font-size: 14px;
      text-align: center; }
      .copyright__text {
        margin-bottom: 10px;
        margin-right: 0; }
      .copyright__list {
        justify-content: center; }
        .copyright__list a {
          font-size: 14px; } }
  @media (max-width: 575px) {
    .copyright {
      padding: 16px 0;
      font-size: 12px; }
      .copyright__list a {
        font-size: 12px; } }

/*Menu custom*/
.modal-open {
  overflow: hidden; }
  .modal-open:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    pointer-events: none; }

.nav-mobile {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  left: -390px;
  width: 100%;
  opacity: 0;
  background: #003677;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  z-index: 999;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  pointer-events: none;
  overflow: auto; }
  .nav-mobile__close {
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 9;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .nav-mobile__close:before {
      background-color: #fff; }
  .nav-mobile .menu-mb__btn .icon-bar {
    background-color: #fff; }
  .nav-mobile__logo img {
    max-height: 30px; }
  .nav-mobile hr {
    background-color: #fff; }
  .nav-mobile__content {
    overflow-y: auto;
    padding: 15px 0; }
  .nav-mobile.active {
    left: 0;
    opacity: 1;
    pointer-events: auto; }
  .nav-mobile .sub-menu {
    display: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    padding-left: 15px; }
    .nav-mobile .sub-menu:after {
      content: "";
      display: table;
      clear: both; }
    .nav-mobile .sub-menu li {
      padding-left: 15px; }
      .nav-mobile .sub-menu li a {
        position: relative;
        display: inline-block;
        padding: 5px 5px; }
  .nav-mobile li {
    position: relative; }
    .nav-mobile li a {
      display: inline-block;
      position: relative;
      color: #fff;
      font-weight: 600;
      padding: 5px 15px; }
      .nav-mobile li a:hover {
        color: #fff; }
  .nav-mobile--ul {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    letter-spacing: 2px; }
    .nav-mobile--ul > li.menu-item-has-children {
      padding-right: 60px; }
    .nav-mobile--ul > li > a {
      display: block;
      padding: 10px 1rem;
      color: #fff; }
      .nav-mobile--ul > li > a:hover, .nav-mobile--ul > li > a.active {
        background: #132d45; }
  .nav-mobile__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    height: 57px;
    width: 60px;
    border: 0;
    background: none;
    cursor: pointer; }
    .nav-mobile__btn:focus {
      outline: none; }
    .nav-mobile__btn i:before {
      transition: all .5s; }
  .nav-mobile .sub-active > .nav-mobile__btn i:before {
    transform: rotate(180deg); }

/**/
.menu-mb__btn {
  display: block;
  margin: 0 0;
  cursor: pointer; }
  .menu-mb__btn .icon-bar {
    width: 20px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    background-color: #000;
    display: block;
    height: 2px; }
    .menu-mb__btn .icon-bar:nth-of-type(1) {
      -ms-transform: rotate(0);
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      transform: rotate(0); }
    .menu-mb__btn .icon-bar:nth-of-type(3) {
      -ms-transform: rotate(0);
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      transform: rotate(0); }
    .menu-mb__btn .icon-bar + .icon-bar {
      margin-top: 4px; }
  .menu-mb__btn.active .icon-bar:nth-of-type(1) {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  .menu-mb__btn.active .icon-bar:nth-of-type(2) {
    opacity: 0; }
  .menu-mb__btn.active .icon-bar:nth-of-type(3) {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform-origin: 2px 3px;
    -webkit-transform-origin: 4px 2px;
    transform-origin: 2px 2px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.c-header__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 1.24;
  color: #123573; }
.c-header__sub {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: 0.095em;
  color: #123573;
  opacity: 0.5; }
  .c-header__sub.-has-icon {
    display: flex;
    align-items: center; }
    .c-header__sub.-has-icon::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 12px;
      background-image: url(../images/favicon.png);
      background-repeat: no-repeat;
      background-size: contain; }
@media (max-width: 1199px) {
  .c-header__sub {
    font-size: 20px; }
  .c-header__title {
    font-size: 44px; } }
@media (max-width: 767px) {
  .c-header__sub {
    font-size: 18px; }
  .c-header__title {
    font-size: 36px; } }

.icon-drone {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-drone.svg);
  background-repeat: no-repeat;
  background-size: contain; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -1deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 1deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 1deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -1deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -1deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 1deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 1deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -1deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.tada {
  -webkit-animation-name: tada;
  animation-name: tada; }

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -2deg);
    transform: rotate3d(0, 0, 1, -2deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 1deg);
    transform: rotate3d(0, 0, 1, 1deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, -1deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -2deg);
    transform: rotate3d(0, 0, 1, -2deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 1deg);
    transform: rotate3d(0, 0, 1, 1deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, -1deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }
.animate__swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s; }

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms; }

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms; }

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important; } }
.effect-zoomin__target {
  transform: scale(1);
  overflow: hidden; }
  .effect-zoomin__target img {
    transition: 0.3s; }
.effect-zoomin:hover .effect-zoomin__target img {
  transform: scale(1.1); }

.effect-shine__target {
  position: relative;
  display: block;
  overflow: hidden; }
  .effect-shine__target::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    pointer-events: none; }
.effect-shine:hover .effect-shine__target::before {
  -webkit-animation: shine 1s;
  animation: shine 1s; }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }
@keyframes shine {
  100% {
    left: 125%; } }
.effect-brightness__target {
  transition: 0.3s; }
.effect-brightness:hover .effect--brightness__target {
  -webkit-filter: brightness(1.1); }

.brightness {
  animation-name: brightness; }

.animation-brightness-infinite-1s {
  animation: brightness 1s infinite; }

.animation-brightness-infinite-2s {
  animation: brightness 2s infinite; }

.animation-brightness:hover .animation-brightness__target {
  animation: brightness 3s infinite; }

@-webkit-keyframes brightness {
  0%,
  100% {
    -webkit-filter: brightness(1); }
  50% {
    -webkit-filter: brightness(1.3); } }
@-webkit-keyframes scaleBanner {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
.slick-slide > div {
  display: flex;
  flex-direction: column; }

.slick-item__wrap:not(.slick-slide) + .slick-item__wrap {
  display: none; }

.slick-style {
  --bs-gutter-x: 24px;
  overflow: hidden; }
  .slick-style .slick-list {
    margin: 0 calc(var(--bs-gutter-x) * -1); }
  .slick-style .slick-slide {
    margin: 0 var(--bs-gutter-x); }
  @media only screen and (max-width: 1399px) {
    .slick-style {
      --bs-gutter-x: 12px; } }
  @media only screen and (max-width: 1199px) {
    .slick-style {
      --bs-gutter-x: 8px; } }

.slick-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; }
  .slick-dots button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #003677;
    opacity: 0.2;
    border: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
    color: transparent;
    transition: .3s; }
  .slick-dots .slick-active button {
    opacity: 1; }

.home-banner {
  position: relative;
  padding: 284px 0 362px; }
  .home-banner__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 106px;
    line-height: 1.23;
    color: #123573; }
    .home-banner__title strong {
      display: inline-block;
      color: #fff;
      text-shadow: 1px 1px 0 #123573, 1px -1px 0 #123573, -1px -1px 0 #123573, -1px 1px 0 #123573, 1px 0px 0 #123573, 1px 0px 0 #123573, -1px 0px 0 #123573, -1px 0px 0 #123573, 0px 1px 0 #123573, 0px -1px 0 #123573, 0px -1px 0 #123573, 0px 1px 0 #123573, 0px 0px 0 #123573, 0px 0px 0 #123573, 0px 0px 0 #123573, 0px 0px 0 #123573, 0 0 0 #123573; }
  .home-banner__meta {
    width: 48%; }
  .home-banner__sub {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #001E49; }
  .home-banner__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px; }
  .home-banner__get {
    padding: 12px 13px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #123573;
    background: #EFF4FD;
    border-radius: 8px; }
  .home-banner__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 56%;
    height: 120%;
    z-index: -1;
    text-align: right; }
    .home-banner__bg img {
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: top right; }
  @media (max-width: 1399px) {
    .home-banner {
      padding: 226px 0 280px; }
      .home-banner__title {
        font-size: 96px; }
      .home-banner__buttons {
        gap: 14px; }
      .home-banner__get {
        font-size: 16px; } }
  @media (max-width: 1199px) {
    .home-banner {
      padding: 190px 0 280px; }
      .home-banner__title {
        font-size: 78px; }
      .home-banner__sub {
        font-size: 18px; } }
  @media (max-width: 991px) {
    .home-banner {
      padding: 148px 0 100px; }
      .home-banner__title {
        font-size: 58px; } }
  @media (max-width: 767px) {
    .home-banner {
      padding: 100px 0; }
      .home-banner__meta {
        width: 60%; }
      .home-banner__title {
        text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px 0px 0 white, 1px 0px 0 white, -1px 0px 0 white, -1px 0px 0 white, 0px 1px 0 white, 0px -1px 0 white, 0px -1px 0 white, 0px 1px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0 0 0 white; } }
  @media (max-width: 575px) {
    .home-banner__title {
      font-size: 50px; }
    .home-banner__meta {
      width: 100%; }
    .home-banner__sub {
      width: 100%;
      text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px 0px 0 white, 1px 0px 0 white, -1px 0px 0 white, -1px 0px 0 white, 0px 1px 0 white, 0px -1px 0 white, 0px -1px 0 white, 0px 1px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0 0 0 white; }
    .home-banner__get {
      padding: 8px 12px;
      font-size: 14px; } }

.home-products {
  padding-bottom: 40px; }
  .home-products .col--left {
    width: 40%; }
  .home-products .col--right {
    display: flex;
    align-items: center;
    justify-content: center; }
  .home-products .c-header {
    margin-bottom: 0; }
  .home-products__list {
    padding-top: 78px;
    margin-bottom: 64px; }
    .home-products__list .list-item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 22px;
      padding: 24px;
      background: #FFFFFF;
      border: 1px solid #E6EBFC;
      box-shadow: 0px 8px 10px rgba(18, 53, 115, 0.04);
      border-radius: 18px;
      transition: .3s; }
      .home-products__list .list-item:not(last-child) {
        margin-bottom: 24px; }
      .home-products__list .list-item.active {
        border-color: #123573;
        box-shadow: 0 0 0 1px #123573; }
        .home-products__list .list-item.active .list-item__readmore {
          opacity: 1;
          transform: translateX(0); }
      .home-products__list .list-item__info {
        flex-grow: 1; }
      .home-products__list .list-item__icon {
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #E6EBFC;
        border-radius: 16px;
        color: #071D46;
        font-size: 24px; }
      .home-products__list .list-item__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 8px;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.22;
        color: #123573; }
        .home-products__list .list-item__title a {
          color: inherit; }
      .home-products__list .list-item__readmore {
        display: block;
        font-size: 16px;
        opacity: 0;
        transform: translateX(5px);
        transition: .3s; }
  .home-products__link {
    display: inline-block;
    padding: 12px 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #123573;
    border: 2px solid #003677;
    border-radius: 8px;
    transition: .3s; }
    .home-products__link a {
      font-weight: 700; }
    .home-products__link:hover {
      box-shadow: 0 0 10px #ccc; }
  .home-products__content {
    width: 100%;
    height: 100%; }
    .home-products__content > div {
      display: none;
      transition: opacity .15s linear; }
      .home-products__content > div:not(.show) {
        opacity: 0; }
      .home-products__content > div.active {
        display: block; }
  @media (max-width: 1399px) {
    .home-products .col--left {
      width: 43%; } }
  @media (max-width: 1199px) {
    .home-products__list .list-item {
      padding: 16px; }
      .home-products__list .list-item:not(last-child) {
        margin-bottom: 16px; } }
  @media (max-width: 991px) {
    .home-products .c-header {
      margin-bottom: 40px; }
    .home-products__content {
      width: 80%;
      margin: 0 auto; }
    .home-products .col--left {
      width: 100%; }
    .home-products__list {
      display: flex;
      align-items: start;
      gap: 8px;
      padding-top: 40px;
      margin-bottom: 20px; }
      .home-products__list .list-item {
        flex: 1;
        display: block;
        text-align: center; }
        .home-products__list .list-item__icon {
          margin: 0 auto 10px; }
        .home-products__list .list-item__sub {
          display: none; }
        .home-products__list .list-item__title {
          display: block; }
        .home-products__list .list-item__readmore {
          margin-top: 6px;
          opacity: 1;
          transform: translateX(0); } }
  @media (max-width: 767px) {
    .home-products__list .list-item {
      padding: 16px 6px; }
      .home-products__list .list-item__title {
        font-size: 16px; }
    .home-products__link {
      padding: 10px 30px;
      font-size: 16px; } }
  @media (max-width: 575px) {
    .home-products__content {
      width: 100%; }
    .home-products__list {
      padding-top: 20px;
      flex-wrap: wrap;
      justify-content: center; }
      .home-products__list .icon-drone {
        width: 20px;
        height: 20px; }
      .home-products__list .list-item {
        padding: 10px 6px;
        width: calc( 33.3333333% - 6px);
        flex: 0 0 auto; }
        .home-products__list .list-item:not(last-child) {
          margin-bottom: 0; }
        .home-products__list .list-item:nth-child(4), .home-products__list .list-item:nth-child(5) {
          width: calc( 50% - 6px); }
        .home-products__list .list-item__icon {
          width: 40px;
          height: 40px;
          font-size: 20px; }
        .home-products__list .list-item__title {
          font-size: 14px; }
          .home-products__list .list-item__title .list-item__readmore {
            position: relative;
            display: block;
            background: #003677;
            color: #fff;
            padding: 3px 7px;
            border-radius: 4px;
            font-size: 12px; }
        .home-products__list .list-item__readmore {
          font-size: 14px; } }

.home-features {
  position: relative;
  padding: 0 0 88px; }
  .home-features .c-header {
    margin-bottom: 55px; }
  .home-features__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 54%;
    height: 104%; }
  .home-features__list {
    padding: 48px;
    background: #FFFFFF;
    border: 1px solid #E6EBFC;
    box-shadow: 0px 8px 10px rgba(18, 53, 115, 0.04);
    border-radius: 18px; }
  .home-features .list-item {
    display: flex;
    align-items: center; }
    .home-features .list-item:not(:last-child) {
      margin-bottom: 16px; }
    .home-features .list-item__icon {
      flex: 0 0 auto;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 24px;
      background: #FFFFFF;
      border: 1px solid #E6EBFC;
      border-radius: 16px;
      color: #071D46;
      font-size: 24px; }
    .home-features .list-item__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.22;
      color: #123573; }
    .home-features .list-item--list {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.22;
      color: #001E49;
      padding-left: 25%; }
      .home-features .list-item--list li {
        position: relative;
        padding-left: 48px; }
        .home-features .list-item--list li:not(:last-child) {
          margin-bottom: 5px; }
        .home-features .list-item--list li::before {
          content: '\e918';
          font-family: icomoon;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 18px; }
  @media (max-width: 991px) {
    .home-features {
      padding: 60px 0 40px; }
      .home-features .col--left {
        position: relative;
        z-index: 1; } }
  @media (max-width: 767px) {
    .home-features__list {
      padding: 36px; } }
  @media (max-width: 575px) {
    .home-features .col--left {
      width: 100%; }
    .home-features .c-header {
      text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px 0px 0 white, 1px 0px 0 white, -1px 0px 0 white, -1px 0px 0 white, 0px 1px 0 white, 0px -1px 0 white, 0px -1px 0 white, 0px 1px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0 0 0 white; }
    .home-features__list {
      width: 100%;
      padding: 24px; }
    .home-features .list-item__title {
      font-size: 16px; }
    .home-features .list-item--list li {
      padding-left: 40px; } }

.home-how {
  padding: 44px 0; }
  .home-how .c-header {
    margin-bottom: 72px; }
  .home-how__box {
    margin-bottom: 70px; }
  .home-how .box-item {
    margin-bottom: 30px;
    padding: 0 28px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.22;
    color: #001E49; }
    .home-how .box-item__thumb {
      margin-bottom: 24px;
      font-size: 64px;
      color: #071D46; }
    .home-how .box-item__title {
      margin-bottom: 16px;
      font-weight: 800;
      font-size: 32px;
      line-height: 1.25;
      color: #123573; }
  .home-how__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px; }
    .home-how__buttons .btn {
      min-width: 256px; }
  @media (max-width: 1199px) {
    .home-how .box-item {
      padding: 0 16px;
      font-size: 18px; }
      .home-how .box-item__title {
        font-size: 30px; } }
  @media (max-width: 991px) {
    .home-how__box {
      margin-bottom: 40px; }
    .home-how .box-item {
      padding: 0;
      font-size: 16px; } }
  @media (max-width: 767px) {
    .home-how__list {
      padding: 30px; }
    .home-how .col--left {
      width: 100%; }
    .home-how .box-item__thumb {
      margin-bottom: 16px;
      font-size: 58px; }
    .home-how .box-item__title {
      font-size: 26px; }
    .home-how__buttons {
      gap: 16px; } }
  @media (max-width: 575px) {
    .home-how__buttons {
      flex-wrap: wrap; }
      .home-how__buttons .btn {
        min-width: 50%; } }

.home-testimonials {
  position: relative;
  padding: 220px 0; }
  .home-testimonials .c-header {
    margin-bottom: 104px; }
  .home-testimonials__slider .slick-current .slick-item {
    opacity: 1; }
    .home-testimonials__slider .slick-current .slick-item::before {
      opacity: 1; }
  .home-testimonials__slider .slick-item {
    position: relative;
    width: 900px;
    height: 100%;
    padding: 94px 0 76px;
    text-align: center;
    cursor: pointer;
    opacity: .5;
    transition: .3s; }
    .home-testimonials__slider .slick-item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 68%;
      height: 100%;
      margin: auto;
      background: #EFF4FD;
      border-radius: 90px;
      z-index: -1;
      opacity: 0;
      transition: .3s; }
    .home-testimonials__slider .slick-item__thumb {
      position: absolute;
      top: 45px;
      left: 0;
      right: 0;
      width: 90px;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden; }
    .home-testimonials__slider .slick-item__info {
      height: 100%;
      padding: 90px 177px;
      background: #fff;
      border: 1px solid #E6EBFC;
      box-shadow: 0px 8px 10px rgba(18, 53, 115, 0.04);
      border-radius: 18px; }
    .home-testimonials__slider .slick-item__title {
      margin-bottom: 16px;
      font-weight: 800;
      font-size: 24px;
      line-height: 1.25;
      color: #123573; }
    .home-testimonials__slider .slick-item__sub {
      margin-bottom: 32px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.22;
      color: #001E49; }
    .home-testimonials__slider .slick-item__excerpt {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.22;
      color: #001E49;
      font-style: italic; }
  @media (max-width: 1199px) {
    .home-testimonials {
      padding: 120px 0; }
      .home-testimonials .c-header {
        margin-bottom: 60px; }
      .home-testimonials__slider .slick-item {
        width: 600px;
        padding: 80px 0 76px; }
        .home-testimonials__slider .slick-item__info {
          padding: 90px 80px 40px; }
        .home-testimonials__slider .slick-item__excerpt {
          font-size: 20px; } }
  @media (max-width: 767px) {
    .home-testimonials {
      padding: 60px 0 80px; }
      .home-testimonials__slider .slick-item__excerpt {
        font-size: 18px; } }
  @media (max-width: 575px) {
    .home-testimonials__slider {
      padding: 0 12px; }
      .home-testimonials__slider .slick-item {
        width: auto;
        padding: 60px 0; }
        .home-testimonials__slider .slick-item::before {
          width: 85%;
          border-radius: 50px; }
        .home-testimonials__slider .slick-item__thumb {
          top: 14px; }
        .home-testimonials__slider .slick-item__info {
          padding: 60px 20px 40px; }
        .home-testimonials__slider .slick-item__excerpt {
          font-size: 16px; }
        .home-testimonials__slider .slick-item__title {
          font-size: 22px; }
        .home-testimonials__slider .slick-item__sub {
          font-size: 14px;
          margin-bottom: 24px; } }

.page-header {
  position: relative;
  padding: 165px 0 40px; }
  .page-header__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 45.5%;
    height: 100%;
    z-index: -1; }
    .page-header__bg img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top left; }
  .page-header__content {
    padding-left: 19%; }
  .page-header__meta {
    margin-left: 20%;
    max-width: 640px; }
  .page-header__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 106px;
    line-height: 1.23;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #123573, 1px -1px 0 #123573, -1px -1px 0 #123573, -1px 1px 0 #123573, 1px 0px 0 #123573, 1px 0px 0 #123573, -1px 0px 0 #123573, -1px 0px 0 #123573, 0px 1px 0 #123573, 0px -1px 0 #123573, 0px -1px 0 #123573, 0px 1px 0 #123573, 0px 0px 0 #123573, 0px 0px 0 #123573, 0px 0px 0 #123573, 0px 0px 0 #123573, 0 0 0 #123573; }
    .page-header__title strong {
      color: #123573; }
  .page-header__excerpt {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.22;
    color: #001E49; }
  @media (max-width: 1399px) {
    .page-header__content {
      padding-left: 15%; } }
  @media (max-width: 1199px) {
    .page-header__title {
      font-size: 90px; }
    .page-header__content {
      padding-left: 12%; }
    .page-header__meta {
      margin-left: 22%; } }
  @media (max-width: 991px) {
    .page-header {
      padding: 120px 0 40px; }
      .page-header__title {
        font-size: 70px; }
      .page-header__excerpt {
        font-size: 18px; } }
  @media (max-width: 767px) {
    .page-header {
      padding: 60px 0 40px; }
      .page-header__title {
        font-size: 60px; }
      .page-header__excerpt {
        font-size: 16px; } }
  @media (max-width: 575px) {
    .page-header__content {
      padding-left: 0; }
    .page-header__meta {
      margin-left: 0; }
    .page-header__title {
      font-size: 44px; }
      .page-header__title strong {
        text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px 0px 0 white, 1px 0px 0 white, -1px 0px 0 white, -1px 0px 0 white, 0px 1px 0 white, 0px -1px 0 white, 0px -1px 0 white, 0px 1px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0 0 0 white; }
    .page-header__excerpt {
      text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px 0px 0 white, 1px 0px 0 white, -1px 0px 0 white, -1px 0px 0 white, 0px 1px 0 white, 0px -1px 0 white, 0px -1px 0 white, 0px 1px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0 0 0 white; } }

.page-product__nav {
  padding-top: 170px;
  padding-bottom: 210px; }
  .page-product__nav--wrap {
    max-width: 1068px; }
  .page-product__nav ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px; }
    .page-product__nav ul::before {
      content: '';
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      width: 88%;
      height: calc(100% + 100px);
      margin: 0 auto;
      background: #EFF4FD;
      border-radius: 50px;
      z-index: -1; }
    .page-product__nav ul a {
      display: block;
      padding: 24px;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.22;
      color: #123573;
      border: 1px solid #E6EBFC;
      box-shadow: 0px 8px 10px rgba(18, 53, 115, 0.04);
      border-radius: 18px;
      background: #fff; }
  @media (max-width: 1399px) {
    .page-product__nav ul {
      gap: 16px; }
      .page-product__nav ul a {
        padding: 16px 20px;
        font-size: 16px; } }
  @media (max-width: 1199px) {
    .page-product__nav {
      padding-top: 140px;
      padding-bottom: 180px; }
      .page-product__nav ul::before {
        width: 80%; } }
  @media (max-width: 991px) {
    .page-product__nav ul a {
      padding: 10px 12px;
      font-size: 14px;
      border-radius: 14px; } }
  @media (max-width: 767px) {
    .page-product__nav {
      padding-top: 100px;
      padding-bottom: 140px; }
      .page-product__nav ul {
        gap: 8px; } }
  @media (max-width: 575px) {
    .page-product__nav {
      padding-top: 80px;
      padding-bottom: 120px; }
      .page-product__nav ul::before {
        top: -30px;
        height: calc(100% + 60px);
        border-radius: 30px; }
      .page-product__nav ul a {
        padding: 10px; } }

.page-product__content {
  padding-bottom: 220px; }
  @media (max-width: 1199px) {
    .page-product__content {
      padding-bottom: 160px; } }
  @media (max-width: 767px) {
    .page-product__content {
      padding-bottom: 100px; } }

.product-item {
  margin-bottom: 160px; }
  .product-item .col--content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 70px; }
  .product-item__title {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 50px;
    line-height: 1.24;
    color: #123573; }
  .product-item__excerpt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.22;
    color: #001E49; }
  .product-item__list {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: #123573; }
    .product-item__list li {
      position: relative;
      padding-right: 54px; }
      .product-item__list li::before {
        content: '\e918';
        font-family: icomoon;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        font-size: 18px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #EFF4FD; }
      .product-item__list li:not(:last-child) {
        margin-bottom: 24px; }
  .product-item .btn-outline-primary {
    min-width: 200px; }
  .product-item .btn-secondary {
    min-width: 256px; }
  @media (max-width: 1399px) {
    .product-item__title {
      font-size: 44px; } }
  @media (max-width: 1199px) {
    .product-item {
      margin-bottom: 120px; }
      .product-item__title {
        font-size: 35px; }
      .product-item .col--content {
        padding-left: calc(var(--bs-gutter-x) * .5); }
      .product-item__list {
        font-size: 14px; }
        .product-item__list li {
          padding-right: 40px; }
          .product-item__list li:not(:last-child) {
            margin-bottom: 16px; }
          .product-item__list li::before {
            font-size: 14px;
            width: 26px;
            height: 26px; } }
  @media (max-width: 767px) {
    .product-item {
      margin-bottom: 80px; }
      .product-item__thumb {
        margin-bottom: 24px; }
      .product-item__list li {
        padding-right: 0;
        padding-left: 40px; }
        .product-item__list li::before {
          left: 0;
          right: auto; }
      .product-item .btn-outline-primary,
      .product-item .btn-secondary {
        min-width: 160px;
        font-size: 14px;
        padding: 10px 16px; } }
  @media (max-width: 575px) {
    .product-item__title {
      font-size: 30px; } }
  @media (min-width: 768px) {
    .product-item {
      text-align: right; }
      .product-item__thumb {
        text-align: left; }
      .product-item .col--content {
        align-items: end; }
      .product-item:nth-child(even) {
        text-align: left; }
        .product-item:nth-child(even) .col--content {
          padding-right: 70px;
          padding-left: calc(var(--bs-gutter-x) * .5);
          align-items: start; }
        .product-item:nth-child(even) .product-item__list li {
          padding-right: 0;
          padding-left: 54px; }
          .product-item:nth-child(even) .product-item__list li::before {
            left: 0;
            right: auto; }
        .product-item:nth-child(even) .product-item__thumb {
          text-align: right; }
        .product-item:nth-child(even) .col--left {
          order: 2; } }

/*# sourceMappingURL=main.css.map */
