.home-features {
	position: relative;
	padding: 0 0 88px;

	.c-header {
		margin-bottom: 55px;
	}

	&__thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 54%;
		height: 104%;
	}

	&__list {
		padding: 48px;
		background: #FFFFFF;
		border: 1px solid #E6EBFC;
		box-shadow: 0px 8px 10px rgba(18, 53, 115, 0.04);
		border-radius: 18px;
	}

	.list-item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		&__icon {
			flex: 0 0 auto;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 24px;
			background: #FFFFFF;
			border: 1px solid #E6EBFC;
			border-radius: 16px;
			color: #071D46;
			font-size: 24px;
		}

		&__title {
			font-weight: 700;
			font-size: 18px;
			line-height: 1.22;
			color: #123573;
		}

		&--list {
			font-weight: 400;
			font-size: 18px;
			line-height: 1.22;
			color: #001E49;
			padding-left: 25%;

			li {
				position: relative;
				padding-left: 48px;

				&:not(:last-child) {
					margin-bottom: 5px;
				}

				&::before {
					content: '\e918';
					font-family: icomoon;
					position: absolute;
					top: 0;
					left: 0;
					font-size: 18px;
				}
			}
		}
	}

	@media (max-width: 991px) {
		padding: 60px 0 40px;

		.col--left {
			position: relative;
			z-index: 1;
		}
	}

	@media (max-width: 767px) {
		&__list {
			padding: 36px;
		}
	}

	@media (max-width: 575px) {
		.col--left {
			width: 100%;
		}

		.c-header {
			text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px 0px 0 white, 1px 0px 0 white, -1px 0px 0 white, -1px 0px 0 white, 0px 1px 0 white, 0px -1px 0 white, 0px -1px 0 white, 0px 1px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0px 0px 0 white, 0 0 0 white;
		}

		&__list {
			width: 100%;
			padding: 24px;
		}

		.list-item__title {
			font-size: 16px;
		}

		.list-item--list li {
			padding-left: 40px;
		}
	}
}