.home-how {
	padding: 44px 0;

	.c-header {
		margin-bottom: 72px;
	}

	&__box {
		margin-bottom: 70px;
	}

	.box-item {
		margin-bottom: 30px;
		padding: 0 28px;
		font-weight: 400;
		font-size: 22px;
		line-height: 1.22;
		color: #001E49;

		&__thumb {
			position: relative;
			margin-bottom: 24px;
			font-size: 64px;
			color: #071D46;
		}

		&__number {
			font-weight: 800;
			font-size: 148px;
			line-height: 0;
			color: #D0D7E3;
			opacity: 0.5;
			position: absolute;
			top: 32%;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
		}

		&__title {
			margin-bottom: 16px;
			font-weight: 800;
			font-size: 32px;
			line-height: 1.25;
			color: #123573;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 32px;

		.btn {
			min-width: 256px;
		}
	}

	@media (max-width: 1199px) {
		.box-item {
			padding: 0 16px;
			font-size: 18px;

			&__title {
				font-size: 30px;
			}
		}
	}

	@media (max-width: 991px) {
		&__box {
			margin-bottom: 40px;
		}

		.box-item {
			padding: 0;
			font-size: 16px;
		}
	}

	@media (max-width: 767px) {
		&__list {
			padding: 30px;
		}

		.col--left {
			width: 100%;
		}

		&__box {
			margin-bottom: 10px;
		}

		.box-item {
			margin-bottom: 60px;

			&__thumb {
				margin-bottom: 8px;
				font-size: 58px;
			}

			&__number {
				font-size: 128px;
			}

			&__title {
				margin-bottom: 8px;
				font-size: 26px;
			}
		}

		&__buttons {
			gap: 16px;
		}

	}

	@media (max-width: 575px) {
		&__buttons {
			flex-wrap: wrap;

			.btn {
				min-width: 50%;
			}
		}
	}
}