.home-products {
	padding-bottom: 40px;

	.col--left {
		width: 40%;
	}

	.col--right {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.c-header {
		margin-bottom: 0;
	}

	&__list {
		padding-top: 78px;
		margin-bottom: 64px;

		.list-item {
			position: relative;
			display: flex;
			align-items: center;
			gap: 22px;
			padding: 24px;
			background: #FFFFFF;
			border: 1px solid #E6EBFC;
			box-shadow: 0px 8px 10px rgba(18, 53, 115, 0.04);
			border-radius: 18px;
			transition: .3s;

			&:not(last-child) {
				margin-bottom: 24px;
			}

			&.active {
				border-color: #123573;
				box-shadow: 0 0 0 1px #123573;

				.list-item__readmore {
					opacity: 1;
					transform: translateX(0);
				}
			}

			&__info {
				flex-grow: 1;
			}

			&__icon {
				flex: 0 0 auto;
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #FFFFFF;
				border: 1px solid #E6EBFC;
				border-radius: 16px;
				color: #071D46;
				font-size: 24px;
			}

			&__title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				column-gap: 8px;
				margin-bottom: 4px;
				font-weight: 700;
				font-size: 18px;
				line-height: 1.22;
				color: #123573;

				a {
					color: inherit;
				}
			}

			&__readmore {
				display: block;
				font-size: 16px;
				opacity: 0;
				transform: translateX(5px);
				transition: .3s;
			}
		}
	}

	&__link {
		display: inline-block;
		padding: 12px 32px;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.22;
		color: #123573;
		border: 2px solid #003677;
		border-radius: 8px;
		transition: .3s;

		a {
			font-weight: 700;
		}

		&:hover {
			box-shadow: 0 0 10px #ccc;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		>div {
			width: 100%;
			display: none;
			transition: opacity .15s linear;
			&:not(.show) {
				opacity: 0;
			}

			&.active {
				display: block;
			}
		}
	}

	@media (max-width: 1399px) {
		.col--left {
			width: 43%;
		}
	}

	@media (max-width: 1199px) {
		&__list .list-item {
			&:not(last-child) {
				margin-bottom: 16px;
			}

			padding: 16px;
		}
	}

	@media (max-width: 991px) {
		.c-header {
			margin-bottom: 40px;
		}

		&__content {
			width: 80%;
			min-height: 560px;
			margin: 0 auto;
		}

		.col--left {
			width: 100%;
		}

		&__list {
			display: flex;
			align-items: start;
			gap: 8px;
			padding-top: 40px;
			margin-bottom: 20px;

			.list-item {
				flex: 1;
				display: block;
				text-align: center;

				&__icon {
					margin: 0 auto 10px;
				}

				&__sub {
					display: none;
				}

				&__title {
					display: block;
					.list-item__readmore {
						position: relative;
					    display: block;
					    background: #003677;
					    color: #fff;
					    padding: 3px 7px;
					    border-radius: 4px;
					    font-size: 12px;
					}
				}

				&__readmore {
					margin-top: 6px;
					opacity: 1;
					transform: translateX(0);
				}
			}
		}

	}

	@media (max-width: 767px) {
		&__list{
			flex-wrap: wrap;
			justify-content: center;
			.list-item {
				padding: 16px 6px;

				&__title {
					font-size: 16px;
				}

			    width: calc( 33.3333333% - 6px);
			    flex: 0 0 auto;
			    &:not(last-child){
			    	margin-bottom: 0;
			    }
			    &:nth-child(4),&:nth-child(5){
			    	width: calc( 50% - 6px);
			    }
			}
		}

		&__link {
			padding: 10px 30px;
			font-size: 16px;
		}
		&__content {
			min-height: 420px;
		}
	}

	@media (max-width: 575px) {
		&__content {
			width: 100%;
			min-height: 440px;
		}

		&__list {
			padding-top: 20px;
			.icon-drone {
				width: 20px;
				height: 20px;
			}

			.list-item {
				padding: 10px 6px;
				&__icon {
					width: 40px;
					height: 40px;
					font-size: 20px;
				}

				&__title {
					font-size: 14px;
				}

				&__readmore {
					font-size: 14px;
				}
			}
		}
	}
}